<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hola</h1>

    @{
        string [] comidas = {"Apple Pie","Pizza", "Cinnamon Rolls", "Lasagna", "Donuts", "Chocolate Cake"};

        @foreach(string comida in comidas){

            @if(comida.StartsWith("C")){
                <li style="color: red;">@comida</li>

            }else{
                <li>@comida</li>
                }
            
        }
    }
</body>
</html>